body {
	text-align: right;
	direction: rtl;
	unicode-bidi: embed;
}

ul,
ol {
	padding-left: 0;
	padding-right: 20px;
}
blockquote {
	padding-left: 0;
	padding-right: 35px;
}

blockquote:before {
	left: auto;
	right: 0;
}

.wp-custom-header .wp-custom-header-video-button {
	right: auto;
	left: 20px;
}

.back-to-top {
	right: auto;
	left: 30px;
}

.mnp-top-header ul {
	padding-right: 0;
}

.mnp-top-header ul li {
	float: right;
	padding-right: 0;
	padding-left: 10px;
}

.mnp-top-header ul li:last-child {
	padding-left: 0;
}

.mnp-top-header .mnp-top-header-nav li + li:before {
	margin-right: 0;
	margin-left: 10px;
}

.mnp-social-profiles ul {
	padding-right: 0;
}

.mnp-social-profiles ul li {
	float: right;
}

.mnp-mid-header.mnp-dark-overlay .container:before {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}

.mnp-mid-header.header-overlay-light .container:before {
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
}

.navbar-main .mnp-home-icon {
	float: right;
}

.navigation-bar .container {
	padding-right: 30px;
	padding-left: 85px;
}

.navbar-brand {
	text-align: right;
	display: block;
	margin-right: 0;
	margin-left: 15px;
}

.navbar-ad-section {
	text-align: left;
}

.navbar .nav-search {
	left: 30px;
	right: auto;
}

.navbar .main-navigation ul {
	padding-right: 0;
}

.main-navigation li {
	float: right;
}

.main-navigation .dropdown-parent .dropdown-toggle {
	right: auto;
	left: 0;
}

.main-navigation .dropdown-parent .dropdown-toggle .dropdown-icon:after {
	content: "\f104";
}

.main-navigation .dropdown-parent .dropdown-toggle.toggle-on .dropdown-icon {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}

.main-navigation ul li.menu-item-has-children > a:after,
.main-navigation ul li.page_item_has_children > a:after {
	right: auto;
	left: 15px;
}

.main-navigation li ul li.menu-item-has-children > a:after,
.main-navigation li ul li.page_item_has_children > a:after {
	right: auto;
	left: 7px;
	content: '\f104';
}

.main-navigation ul li.menu-item-has-children > a,
.main-navigation ul li.page_item_has_children > a {
	padding-right: 15px;
	padding-left: 32px;
}

.main-navigation ul li ul li.menu-item-has-children > a,
.main-navigation ul li ul li.page_item_has_children > a {
	padding-right: 15px;
	padding-left: 18px;
}

.main-navigation .dropdown-menu,
.main-navigation li ul {
	left: unset;
}

.main-navigation ul li ul li ul,
.headernav .main-navigation ul li ul li ul {
	left: auto;
	right: 198px;
}

.main-navigation ul > li > ul {
	right: -10000px;
	left: unset;
}

.main-navigation ul > li:hover > ul, .main-navigation ul > li.focus > ul {
	right: 0;
	left: unset;
}


.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul,
.main-navigation ul ul ul li:hover > ul,
.main-navigation ul ul ul li.focus > ul,
.main-navigation ul ul ul ul li:hover > ul,
.main-navigation ul ul ul ul li.focus > ul,
.main-navigation ul ul ul ul ul li:hover > ul,
.main-navigation ul ul ul ul ul li.focus > ul {
	right: 100%;
	left: unset;

}

.search-block {
	right: auto;
	left: 30px;
}

.search-form .form-control {
	border-right-width: 1px;
	border-left-width: 0;
}

.mnp-news-ticker:before {
	left: auto;
	right: 0;
}

.mnp-news-ticker .mnp-news-ticker-label {
	padding-left: 15px;
	padding-right: 15px;
}

.mnp-news-ticker .mnp-news-ticker-label:after {
	right: auto;
	left: -19px;
	transform: skew(-20deg);
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
}

.mnp-news-ticker .mnp-news-ticker-label .mnp-news-ticker-label-wrap {
	padding-left: 0;
	padding-right: 0;
}

.mnp-news-ticker .mnp-ticker-posts {
	direction: ltr;
	padding-right: 0;
	padding-left: 15px;
}

.mnp-news-ticker .mnp-ticker-posts:after {
	right: 0;
	left: 15px;
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
}

.entry-meta a i.mnp-icon {
	padding-left: 5px;
	padding-right: 5px;
}

.entry-meta .cat-links a, .entry-meta div.cat-links a {
	float: right;
}

body .widget-title, body .magazinenp-title, body .site-footer .widget-title {
	text-align: right;
	padding-right: unset;
	padding-left: 10px;
}

body.title-style4 .magazinenp-title:after, body.title-style4 .widget-title:after {
	margin-left: unset;
	margin-right: 15px;
}

.mnp-popular-tags-wrap .popular-tags-title-wrap {
	float: right;
}

.mnp-popular-tags-wrap .popular-tags-tag-items {
	float: right;
	margin-left: unset;
	margin-right: 10px;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
	direction: ltr;
}

.featured-slider.slider-no-title .owl-nav {
	right: auto;
	left: 1px;
}

#primary.content-area,
#secondary.widget-area.order-lg-1 {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

#secondary.widget-area,
#primary.content-area.order-lg-2 {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

.post.sticky .entry-header .entry-title {
	padding-right: 0;
	padding-left: 35px;
}

.post.sticky .entry-header:before {
	left: 0;
	right: auto;
}

.single-post .post.sticky .entry-header .entry-title {
	padding-left: 0;
}

.single-post .post.sticky .entry-header .entry-meta.category-meta {
	padding-right: 0;
	padding-left: 35px;
}

.entry-meta .cat-links a {
	margin-right: 0;
	margin-left: 7px;
	float: right;
}

.mnp-post-image-wrap .entry-meta .cat-links a,
.mnp-post-image-wrap + .entry-header .entry-meta .cat-links a {
	margin-left: 5px;
	margin-right: 0;
}

.navigation.post-navigation .nav-links .nav-previous {
	float: right;
}

.navigation.post-navigation .nav-links .nav-next {
	float: left;
	text-align: left;
}

.navigation.post-navigation .nav-links .nav-previous a {
	padding-left: 30px;
	padding-right: 50px;
}

.navigation.post-navigation .nav-links .nav-next a {
	padding-left: 50px;
	padding-right: 30px;
}

.navigation.post-navigation .nav-links .nav-previous a:after {
	content: "\f105";
	right: 20px;
	left: 0;
}

.navigation.post-navigation .nav-links .nav-next a:after {
	content: "\f104";
	left: 20px;
	right: 0;
}

.comment-body {
	padding-left: 0;
	padding-right: 60px;
}

.children .comment-body {
	padding-left: 0;
	padding-right: 50px;
}

.comment-author .avatar {
	left: auto;
	right: 0;
}

.children {
	padding-left: 0;
	padding-right: 30px;
}

#wp-comment-cookies-consent {
	margin-right: 0;
	margin-left: 10px;
}

#bbpress-forums #bbp-search-form #bbp_search_submit {
	margin-left: auto;
	margin-right: -4px;
}

.woocommerce.widget_product_search .search-field {
	float: right;
	border-right-width: 1px;
	border-left-width: 0;
}

/* # Gutenberg Support */
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	padding-left: 0;
	padding-right: 35px;
}

.wp-block-pullquote blockquote:before {
	margin-right: 0;
	margin-left: 10px;
	right: auto;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media,
.wp-block-media-text .wp-block-media-text__content {
	-ms-flex-order: 1;
	order: 1;
}

.wp-block-media-text .wp-block-media-text__media,
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
	-ms-flex-order: 2;
	order: 2;
}

.mnp-post-boxed.inlined .mnp-post-image-wrap {
	float: right;
	margin-left: 15px;
	margin-right: 0;
}

.post-slider .post-slider-header {
	padding-right: 0;
	padding-left: 70px;
}

.post-slider .owl-nav {
	right: auto;
	left: 0;
}

.post-slider .owl-nav button.owl-prev,
.post-slider .owl-nav button.owl-next {
	margin-left: 0;
	margin-right: 1px;
}

.post-slider .slick-next {
	right: auto;
	left: 0;
}

.post-slider .slick-prev {
	right: auto;
	left: 29px;
}

.magazinenp-title,
.widget-title {
	border-left: none;
	border-right: 4px solid #c80000;
	padding-left: 0;
	padding-right: 10px;
	text-align: right;
}

.featured-section .mnp-post-boxed.inlined .mnp-post-image-wrap {
	margin-right: 0;
	margin-left: 10px;
}

.widget ol,
.widget ul {
	padding-right: 0;
}

.widget ol ol,
.widget ul ul {
	padding-left: 0;
	padding-right: 20px;
}

.widget_tag_cloud a {
	margin-right: 0;
	margin-left: 5px;
}

.widget_categories ul li a {
	display: inline-block;
}

.magazinenp-grid-post-widget .mnp-post-boxed.main-post.inlined .mnp-post-image-wrap {
	margin-left: 0;
}

.site-footer .widget-area .magazinenp-column-post-widget .mnp-post-boxed .mnp-post-image-wrap {
	margin-right: 0;
	margin-left: 10px;
}

.site-footer .widget-title {
	text-align: right;
}

.site-info .copyright .theme-link,
.site-info .copyright .privacy-link,
.site-info .copyright .author-link,
.site-info .copyright .wp-link,
.site-info .copyright .custom-content {
	padding-right: 0;
	padding-right: 8px;
}

.site-info .copyright .theme-link:after,
.site-info .copyright .privacy-link:after,
.site-info .copyright .author-link:after,
.site-info .copyright .wp-link:after {
	margin-left: 0;
	margin-right: 8px;
}

.site-info .mnp-social-profiles, .site-info .copyright {
	text-align: right !important;
}

.navbar .mnp-home-icon a {
	float: right;
}

.magazinenp-author-box .author-avatar {
	float: right;
	margin: 0 0 10px 10px;
}

@media (max-width: 991.5px) {
	.navigation-bar .container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.navbar-ad-section {
		text-align: right;
	}

	.navigation-bar-top .search-toggle {
		right: auto;
		left: 30px;
	}

	.mnp-top-header .mnp-top-header-nav .mnp-top-header-nav-menu-toggle {
		right: 15px;
	}

	.search-block {
		left: auto;
	}

	.main-navigation .dropdown-parent.menu-item-has-children > a,
	.main-navigation .dropdown-parent.page_item_has_children > a {
		padding-right: 20px;
		padding-left: 80px;
	}

	.main-navigation ul li.menu-item-has-children > a,
	.main-navigation ul li ul li.menu-item-has-children > a,
	.main-navigation ul li.page_item_has_children > a,
	.main-navigation ul li ul li.page_item_has_children > a {
		padding-right: 30px;
		padding-left: 45px;
	}

	.main-navigation ul li.menu-item-has-children > a:after,
	.main-navigation li ul li.menu-item-has-children > a:after,
	.main-navigation ul li.page_item_has_children > a:after,
	.main-navigation li ul li.page_item_has_children > a:after {
		right: auto;
		left: 30px;
		content: "\f107";
	}

	.main-navigation li ul,
	.main-navigation ul li ul li ul,
	.headernav .main-navigation ul li ul li ul {
		right: auto;
	}

	.main-navigation ul li a,
	.main-navigation ul li ul li a,
	.main-navigation ul li ul li ul li a,
	.main-navigation ul li ul li ul li ul li a,
	.main-navigation ul li ul li ul li ul li ul li a {
		padding-left: 30px;
	}

	.main-navigation ul li ul li a,
	.main-navigation ul li ul li.menu-item-has-children > a,
	.main-navigation ul li ul li.page_item_has_children > a,
	.main-navigation ul li ul li.dropdown-parent.menu-item-has-children > a,
	.main-navigation ul li ul li.dropdown-parent.page_item_has_children > a {
		padding-right: 40px;
	}

	.main-navigation ul li ul li ul li a,
	.main-navigation ul li ul li ul li.menu-item-has-children > a,
	.main-navigation ul li ul li ul li.page_item_has_children > a,
	.main-navigation ul li ul li ul li.dropdown-parent.menu-item-has-children > a,
	.main-navigation ul li ul li ul li.dropdown-parent.page_item_has_children > a {
		padding-right: 60px;
	}

	.main-navigation ul li ul li ul li ul li a,
	.main-navigation ul li ul li ul li ul li.menu-item-has-children > a,
	.main-navigation ul li ul li ul li ul li.page_item_has_children > a,
	.main-navigation ul li ul li ul li ul li.dropdown-parent.menu-item-has-children > a,
	.main-navigation ul li ul li ul li ul li.dropdown-parent.page_item_has_children > a {
		padding-right: 90px;
	}

	.main-navigation ul li ul li ul li ul li ul li a,
	.main-navigation ul li ul li ul li ul li ul li.menu-item-has-children > a,
	.main-navigation ul li ul li ul li ul li ul li.page_item_has_children > a,
	.main-navigation ul li ul li ul li ul li ul li.dropdown-parent.menu-item-has-children > a,
	.main-navigation ul li ul li ul li ul li ul li.dropdown-parent.page_item_has_children > a {
		padding-right: 120px;
	}

	#primary.content-area,
	#primary.content-area.order-lg-2 {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}

	#secondary.widget-area,
	#secondary.widget-area.order-lg-1 {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}

	.site-info .mnp-social-profiles, .site-info .copyright {
		text-align: center !important;
	}

	.main-navigation ul > li > ul {
		right: unset !important;
		left: unset !important;
	}
}

@media (max-width: 767px) {
	.mnp-top-header .mnp-top-header-nav .mnp-top-header-nav-menu-toggle {
		right: auto;
		left: 20px;
	}

	.mnp-top-header.mnp-top-header-nav-on .container {
		padding-right: 20px;
		padding-left: 63px;
	}

	.mnp-top-header.mnp-top-header-nav-on .mnp-top-header-nav {
		margin-right: auto;
		margin-left: -43px;
	}

	.mnp-top-header .mnp-top-header-nav ul li a {
		text-align: left;
	}

	.navigation-bar .container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.main-navigation .dropdown-parent.menu-item-has-children > a,
	.main-navigation .dropdown-parent.page_item_has_children > a {
		padding-right: 20px;
		padding-left: 60px;
	}

	.main-navigation ul li.menu-item-has-children > a,
	.main-navigation ul li ul li.menu-item-has-children > a,
	.main-navigation ul li.page_item_has_children > a,
	.main-navigation ul li ul li.page_item_has_children > a {
		padding-right: 20px;
		padding-left: 35px;
	}

	.main-navigation ul li.menu-item-has-children > a:after,
	.main-navigation li ul li.menu-item-has-children > a:after,
	.main-navigation ul li.page_item_has_children > a:after,
	.main-navigation li ul li.page_item_has_children > a:after {
		right: auto;
		left: 20px;
	}

	.main-navigation ul li a,
	.main-navigation ul li ul li a,
	.main-navigation ul li ul li ul li a,
	.main-navigation ul li ul li ul li ul li a,
	.main-navigation ul li ul li ul li ul li ul li a {
		padding-left: 20px;
	}

	.main-navigation ul li ul li a,
	.main-navigation ul li ul li.menu-item-has-children > a,
	.main-navigation ul li ul li.page_item_has_children > a,
	.main-navigation ul li ul li.dropdown-parent.menu-item-has-children > a,
	.main-navigation ul li ul li.dropdown-parent.page_item_has_children > a {
		padding-right: 40px;
	}

	.main-navigation ul li ul li ul li a,
	.main-navigation ul li ul li ul li.menu-item-has-children > a,
	.main-navigation ul li ul li ul li.page_item_has_children > a,
	.main-navigation ul li ul li ul li.dropdown-parent.menu-item-has-children > a,
	.main-navigation ul li ul li ul li.dropdown-parent.page_item_has_children > a {
		padding-right: 60px;
	}

	.main-navigation ul li ul li ul li ul li a,
	.main-navigation ul li ul li ul li ul li.menu-item-has-children > a,
	.main-navigation ul li ul li ul li ul li.page_item_has_children > a,
	.main-navigation ul li ul li ul li ul li.dropdown-parent.menu-item-has-children > a,
	.main-navigation ul li ul li ul li ul li.dropdown-parent.page_item_has_children > a {
		padding-right: 80px;
	}

	.main-navigation ul li ul li ul li ul li ul li a,
	.main-navigation ul li ul li ul li ul li ul li.menu-item-has-children > a,
	.main-navigation ul li ul li ul li ul li ul li.page_item_has_children > a,
	.main-navigation ul li ul li ul li ul li ul li.dropdown-parent.menu-item-has-children > a,
	.main-navigation ul li ul li ul li ul li ul li.dropdown-parent.page_item_has_children > a {
		padding-right: 100px;
	}

	.navigation-bar-top .search-toggle {
		right: auto;
		left: 20px;
	}

	.navbar-brand {
		margin-left: 0;
	}

	.wp-block-media-text .wp-block-media-text__media,
	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media {
		-ms-flex-order: 1;
		order: 1;
	}

	.wp-block-media-text .wp-block-media-text__content,
	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
		-ms-flex-order: 2;
		order: 2;
	}
}

@media (max-width: 575px) {
	.mnp-top-header.mnp-top-header-nav-on .container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.mnp-top-header .mnp-top-header-nav .mnp-top-header-nav-menu-toggle {
		left: 15px;
	}

	.mnp-top-header.mnp-top-header-nav-on .container {
		padding-left: 58px;
	}

	.navigation-bar .container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.navigation-bar-top .search-toggle {
		left: 15px;
	}

	.main-navigation .dropdown-parent.menu-item-has-children > a,
	.main-navigation .dropdown-parent.page_item_has_children > a {
		padding-right: 15px;
		padding-left: 50px;
	}

	.main-navigation ul li.menu-item-has-children > a,
	.main-navigation ul li ul li.menu-item-has-children > a,
	.main-navigation ul li.page_item_has_children > a,
	.main-navigation ul li ul li.page_item_has_children > a {
		padding-right: 15px;
		padding-left: 30px;
	}

	.main-navigation ul li.menu-item-has-children > a:after,
	.main-navigation li ul li.menu-item-has-children > a:after,
	.main-navigation ul li.page_item_has_children > a:after,
	.main-navigation li ul li.page_item_has_children > a:after {
		left: 15px;
	}

	.main-navigation ul li a,
	.main-navigation ul li ul li a,
	.main-navigation ul li ul li ul li a,
	.main-navigation ul li ul li ul li ul li a,
	.main-navigation ul li ul li ul li ul li ul li a {
		padding-left: 15px;
	}

	.main-navigation ul li ul li a,
	.main-navigation ul li ul li.menu-item-has-children > a,
	.main-navigation ul li ul li.page_item_has_children > a,
	.main-navigation ul li ul li.dropdown-parent.menu-item-has-children > a,
	.main-navigation ul li ul li.dropdown-parent.page_item_has_children > a {
		padding-right: 30px;
	}

	.main-navigation ul li ul li ul li a,
	.main-navigation ul li ul li ul li.menu-item-has-children > a,
	.main-navigation ul li ul li ul li.page_item_has_children > a,
	.main-navigation ul li ul li ul li.dropdown-parent.menu-item-has-children > a,
	.main-navigation ul li ul li ul li.dropdown-parent.page_item_has_children > a {
		padding-right: 45px;
	}

	.main-navigation ul li ul li ul li ul li a,
	.main-navigation ul li ul li ul li ul li.menu-item-has-children > a,
	.main-navigation ul li ul li ul li ul li.page_item_has_children > a,
	.main-navigation ul li ul li ul li ul li.dropdown-parent.menu-item-has-children > a,
	.main-navigation ul li ul li ul li ul li.dropdown-parent.page_item_has_children > a {
		padding-right: 60px;
	}

	.main-navigation ul li ul li ul li ul li ul li a,
	.main-navigation ul li ul li ul li ul li ul li.menu-item-has-children > a,
	.main-navigation ul li ul li ul li ul li ul li.page_item_has_children > a,
	.main-navigation ul li ul li ul li ul li ul li.dropdown-parent.menu-item-has-children > a,
	.main-navigation ul li ul li ul li ul li ul li.dropdown-parent.page_item_has_children > a {
		padding-right: 75px;
	}

	.navigation.post-navigation .nav-links .nav-next a {
		padding-right: 15px;
		padding-left: 35px;
	}

	.navigation.post-navigation .nav-links .nav-previous a {
		padding-left: 15px;
		padding-right: 35px;
	}

	.navigation.post-navigation .nav-links .nav-next a:after {
		left: 15px;
	}

	.navigation.post-navigation .nav-links .nav-previous a:after {
		right: 15px;
	}

	.mnp-news-ticker .mnp-news-ticker-label {
		padding-left: 15px;
	}

	.back-to-top {
		left: 15px;
	}
}

@media (min-width: 1600px) {
	.main-navigation > ul > li.menu-item-has-children > a,
	.main-navigation > ul > li.page_item_has_children > a {
		padding-left: 37px;
	}

	.main-navigation > ul > li.menu-item-has-children > a:after,
	.main-navigation > ul > li.page_item_has_children > a:after {
		left: 20px;
	}
}
