$primary_color: #1151d3; //#c80000

$top_header_background_color: #202f5b;

$bottom_header_background_color: #202f5b;
//Forms
$button_hover_color: #202f5b; //#c80000

$widget_area_background_color: #121026;

$bottom_footer_background_color: #090818;